.sub-promo {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 50%;
    height: calc(((100vh - 80px) / 2));
    background-color: purple;
}

.sub-promo-img {
    max-width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.sub-promo-text-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media only screen and (max-width: 815px) {
    .sub-promo {
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 815px) and (max-height: 550px) {
    .sub-promo {
        height: calc(100vh - 80px);
    }
}