.landing {
    display: flex;
    width: calc(100vw - 17px);
    flex-flow: column nowrap;
    align-items: center;
}

.responsive-flex-container {
    display: flex;
    flex-flow: row wrap;
    min-height: calc((100vh - 80px));
    width: 100%;
    z-index: 1;
}
.responsive-flex-container-sm {
    display: flex;
    flex-flow: row wrap;
    min-height: calc((100vh - 80px) / 2);
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 1280px) {
    .landing {
        width: 100%
    }
}