.carousel-promo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height:  100%;
    width: 100%;
}

.carousel-promo-text-container {
    width: 40%;
    max-width: 400px;
    min-width: 235px;
}

.carousel-promo-img {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    object-fit: contain;
    width: 40%;
    max-width: 400px;
    min-width: 225px;
}