.carousel-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    min-height: 400px;
    height: calc(((100vh - 80px) / 2));
    width: 100%;
}

.carousel-nav-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    width: 70px;
}

.carousel-promo-container {
    background: rgba(0,0,0,0);
    border: 0;
    outline: none;
    text-align: justify;
    cursor: pointer;
    height: 100%;
    max-width: calc(100% - 70px);
    min-width: calc(70% - 70px);
}